// mixin的强大之处，在于可以指定参数和缺省值。
// @mixin bgwhite2($value: 10px) {
@mixin bgwhite2 {
  　　background-color: #fff;
}

button {
  // background-color: red;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

$color: #6aca9a;

// type = ?
.type-primary {
  border: 1px solid $color;
  background-color: $color;
}

.type-success {
  border: 1px solid #71c547;
  background-color: #71c547;
}

.error {
  border: 1px solid #e54a4d;
  background-color: #e54a4d;
}

.info {
  border: 1px solid #7b7b7b;
  background-color: #7b7b7b;
}

.warning {
  border: 1px solid #eee243;
  background-color: #eee243;
}

// 字体颜色
.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.dashed {
  //   @extend .bg-white;
  @include bgwhite2;
  border: 1px dashed #ccc;
}

.text {
  @extend .bg-white;
}

.link {
  @extend .bg-white;
  color: $color;
}
// .default {
//   @extend .bg-white;
//   border: 1px solid #ccc;
// }
.large {
  padding: 8px 11px;
}
.default {
  padding: 6px;
}
.small {
  padding: 3px 6px;
}

// 使用的时候，根据需要加入参数：
div {
  // 　　@include left(20px);
}
